<div class="container">
	<div class="row">
		<div class="enter_section">
			<form action="/insert_one" method="POST">
				<input type="text" class="form-control" name="burger" value="" id="enter_text">
				<button type="submit" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat.</p>
		</div>
	</div>
</div>

<div class=" text-center" class="task">
	<div class="row">
	    {{#each burger}}
			<div text-center">
				<form method="POST" action="/update_one?_method=POST">
					<input input type="hidden" type="text" name="burger" value={{this.id}}><br>
					<button type="submit" class="btn btn-default">Devour it</button>
				</form>
				</div>
			  {{/each}}
			</div>
		</div>
		<div text-center" class="task">
			  {{#each burger}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.burger}}" >
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>